
<% if @comment.errors.any? %>
  <h3><%= pluralize(@comment.errors.count, "error") %> stopped your soufle from rising!:</h3>

  <ul>
    <% @comment.errors.full_messages.each do |msg| %>
      <li> <%= msg %></li>
    <% end %>

  </ul>
  
<% end %>





<%= form_for([@post, @comment]) do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :location %>
  <%= f.text_field :location %>

  <%= f.label :body %>
  <%= f.text_field :body %>

  <%= f.label :rating %>
  <%= f.text_field :rating %>

  <%= f.submit %>


<% end %>